@import '../../../../../styles/imports';

:host {
  font-size: .875rem;
  color: $danger;

  &.danger {
    color: $danger;
  }
  &.warning {
    color: $warning;
  }
  &.success {
    color: $success;
  }
  &.info {
    color: $info;
  }
}
