<div ngbDropdown #dropdown='ngbDropdown' autoClose='outside' (openChange)="onOpenChange($event)">
  <div class="btn-group dropdown-toggle-group">
    <div ngbDropdownToggle class='btn btn-block flex-grow-1'>
      <span class="caption text-truncate text-gray300" *ngIf='!valueModel$.value'>
        <span *ngIf='!title && !nullTitle'>...</span>
        <span *ngIf='nullTitle'>{{nullTitle}}</span>
        <span *ngIf='!nullTitle && title'>{{title}}</span>
      </span>
      <span class="caption text-truncate" *ngIf='valueModel$.value' [innerHTML]="getTitle(valueModel$.value) | safe"></span>
    </div>

    <button class="clear" *ngIf='useClear && valueModel$.value' (click)='clear($event)'>
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div ngbDropdownMenu class='shadow'>
    <div [formGroup]='searchForm' class='input-group filter-form' *ngIf='useSearch'>
      <input #searchInput type="text" class='form-control filter-form__input' formControlName='search' placeholder='Найти...'>
    </div>

    <div class="scroll">
      <div ngbDropdownItem
        *ngFor='let item of valuesModel; trackBy: trackByItem'
        [class.active]='item.id === value.value'
        (click)='select($event, item)'
        [innerHTML]="getItemTitle(item) | safe">
      </div>
    </div>

    <div class="empty" *ngIf='valuesModel?.length === 0 && !useClear'>
      Ничего не найдено
    </div>
  </div>
</div>
