@import '../../../styles/imports';

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {

}

.content {
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: $pt3
}

.quarter {
  margin-bottom: $pt3;

  &-title {
    font-weight: 600;
    @include fs-paragraph-m();
    padding: $pt $pt3;
    margin-bottom: $pt3;
  }

  &-content {
    margin-left: $pt7;
  }
}

.btn-add {
  padding: $pt3;
  background: $gray-100;
  border: 1px dashed $gray-400;
  border-radius: 1rem;
  margin-bottom: $pt3;
  width: 100%;
  display: block;
  transition-duration: .2s;

  &:hover {
    background: $white;
  }
}
