@import '../../../styles/imports';

.quarter {
  margin-bottom: $pt3;

  &-title {
    font-weight: 600;
    @include fs-paragraph-m();
    padding: $pt $pt3;
    margin-bottom: $pt3;
  }

  &-content {
    margin-left: $pt7;
  }
}

.btn-add {
  padding: $pt3;
  background: $gray-100;
  border: 1px dashed $gray-400;
  border-radius: 1rem;
  margin-bottom: $pt3;
  width: 100%;
  display: block;
  transition-duration: .2s;

  &:hover {
    background: $white;
  }
}
