@import '../../../../../styles/imports';

.offcanvas {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background: $white;
  box-shadow: 0 0 20px rgba($black, 0.15);
  transition-duration: 0.2s;
  transform: translateX(100%);

  :host-context([data-bs-theme="dark"]) {
    .offcanvas {
      background: $gray-900;
    }
  }

  &.open {
    transform: translateX(0);
  }
}

.tab-content {
  min-height: calc(100vh - 190px);
  overflow-y: auto;
}

.btn-close {
  position: absolute;
  top: $pt2;
  left: -$pt8;
  background-color: $white;
  border-radius: 100%;
  border: 1px solid $gray-100;
  box-shadow: 0 4px 20px rgba($black, 0.15);
  width: 40px;
  height: 40px;
  opacity: 1;
}
