<div ngbDropdown #dropdown='ngbDropdown' autoClose='outside' (openChange)="onOpenChange($event)">
  <div class="btn-group dropdown-toggle-group">
    <div ngbDropdownToggle class="btn">
      <ng-container *ngIf="valueModel$.value">
        <div class="sprint">
          <div class="sprint-icon">
            <div [ngSwitch]="valueModel$.value.status">
              <div *ngSwitchCase="SprintStatus.WAITING">
                <fa-icon [icon]="faClock" class="text-body"></fa-icon>
              </div>

              <div *ngSwitchCase="SprintStatus.RUNNING">
                <fa-icon [icon]="faPlay" class="text-success"></fa-icon>
              </div>

              <div *ngSwitchCase="SprintStatus.COMPLETED">
                <fa-icon [icon]="faStop" class="text-secondary"></fa-icon>
              </div>
            </div>
          </div>
          <div class="sprint-title">{{valueModel$.value.represent}}</div>
        </div>
      </ng-container>

      <ng-container *ngIf="!valueModel$.value">
        <div class="empty-sprint">
          Выберите спринт
        </div>
      </ng-container>

      <button class="clear" *ngIf='useClear' (click)='clear($event)'>
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </div>
  </div>
  <div ngbDropdownMenu class='shadow'>
    <div [formGroup]='searchForm' class='input-group filter-form' *ngIf='useSearch'>
      <input type="text" class='form-control filter-form__input' formControlName='search' placeholder='Найти...'>
    </div>

    <div class="scroll">
      <div ngbDropdownItem
        *ngFor='let item of activeSprints; trackBy: trackByItem'
        [class.active]='item.id === value.value'
        (click)='select($event, item)'>
        <div class="item">
          <div class="item-icon">
            <div [ngSwitch]="item.status">
              <div *ngSwitchCase="SprintStatus.WAITING">
                <fa-icon [icon]="faClock" class="text-body"></fa-icon>
              </div>

              <div *ngSwitchCase="SprintStatus.RUNNING">
                <fa-icon [icon]="faPlay" class="text-success"></fa-icon>
              </div>

              <div *ngSwitchCase="SprintStatus.COMPLETED">
                <fa-icon [icon]="faStop" class="text-secondary"></fa-icon>
              </div>
            </div>
          </div>
          <div class="item-title">{{item.represent}}</div>
        </div>
      </div>

      <div class="past-toggle"
        *ngIf='pastSprints.length > 0'
        (click)='togglePastSprints($event)'>
        <span class="past-toggle-label">Прошедшие</span>
        <span class="past-toggle-count">({{ pastSprints.length }})</span>
        <span class="past-toggle-icon">
          <fa-icon [icon]="showPastSprints ? faChevronUp : faChevronDown"></fa-icon>
        </span>
      </div>

      <ng-container *ngIf='showPastSprints'>
        <div ngbDropdownItem
          *ngFor='let item of pastSprints; trackBy: trackByItem'
          [class.active]='item.id === value.value'
          (click)='select($event, item)'>
          <div class="item">
            <div class="item-icon">
              <div [ngSwitch]="item.status">
                <div *ngSwitchCase="SprintStatus.WAITING">
                  <fa-icon [icon]="faClock" class="text-body"></fa-icon>
                </div>

                <div *ngSwitchCase="SprintStatus.RUNNING">
                  <fa-icon [icon]="faPlay" class="text-success"></fa-icon>
                </div>

                <div *ngSwitchCase="SprintStatus.COMPLETED">
                  <fa-icon [icon]="faStop" class="text-secondary"></fa-icon>
                </div>
              </div>
            </div>
            <div class="item-title">{{item.represent}}</div>
          </div>
        </div>
      </ng-container>
    </div>

    <div class="empty" *ngIf='valuesModel?.length === 0 && !useClear'>
      Ничего не найдено
    </div>
  </div>
</div>
