@import '../../../../../styles/imports';

.issue {
  border-radius: 1rem;
  border: 2px solid transparent;
  background: $white;

  :host-context([data-bs-theme="dark"]) {
    .issue {
      background: $gray-900;
      color: $white;
    }
  }

  &:hover {
    border-color: $primary;
  }
}

.milestone,
.estimate-dev,
.estimate-qa {
  color: $gray-600;
  @include fs-paragraph-xxs();
  border: 1px solid $gray-300;
  border-radius: 1rem;
  padding: 0.1rem 0.5rem;
  margin-right: $pt;

  fa-icon {
    margin-right: 3px;
    @include fs-paragraph-xxxs();
  }

  :host-context([data-bs-theme="dark"]) & {
    color: $gray-100;
    border-color: $gray-800;
  }
}

.header {
  padding: $pt $pt2 0 $pt2;
  display: flex;
  justify-content: start;
  align-items: center;
}

.task-type {
  display: flex;
  align-items: center;

  &-icon {
    width: $pt;
    height: $pt;
    border-radius: 50%;
    background: $white;
    margin-right: $pt;
  }
}

.assignee {
  img {
    width: $pt3;
    height: $pt3;
    border-radius: 50%;
    overflow: hidden;
    margin-right: $pt;
  }
}
