<div class="user-board" (swipeLeft)="swipeLeft($event)" (swipeRight)="swipeRight($event)" *ngIf="(user$ | async) && (team$ | async)">
  <div class="user-board-inner" [ngStyle]="getUserBoardStyles()" #UserBoardInner>
    <div class="issues" *ngIf="(user$ | async)">
      <div class="d-flex align-items-start flex-nowrap position-relative" cdkDropList cdkDropListOrientation="horizontal"
        (cdkDropListDropped)='dropColumn($event)'>
        <div class="issue-col flex-grow-0" *ngFor="let column of columns; trackBy trackByColumn"
            [style.width.px]="COLUMN_WIDTH"
            [style.min-width.px]="COLUMN_WIDTH" cdkDrag
            (cdkDragStarted)="dragStart($event)"
            (cdkDragReleased)="dragEnd($event)"
            [cdkDragDisabled]="!(accountService.isAdmin$ | async)">
          <app-kanban-column [column]="column" [user]="(user$ | async)!" [search]="search" (onDelete)="catchDeleteColumn($event)"></app-kanban-column>
        </div>

        <div class="issue-col" *ngIf="accountService.isAdmin$ | async">
          <button class="btn btn-add-column" (click)="addColumn($event)" title="Добавить колонку">
            <fa-icon [icon]="faPlus"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>

  <button class="slide left" (click)="slideLeft($event)" [class.visible]="getScreenStartColumn() > 0">
    <fa-icon [icon]="faArrowLeft"></fa-icon>
  </button>

  <button class="slide right" (click)="slideRight($event)" [class.visible]="getScreenEndColumn() - 1 < getActiveColumns((team$ | async)!.id).length">
    <fa-icon [icon]="faArrowRight"></fa-icon>
  </button>

</div>
