@import '../../../../../styles/imports';


.btn-add-column {
  border-radius: 1rem;
  background: $gray-200;
  padding-top: $pt;
  padding-bottom: $pt;
  min-width: $pt8;

  :host-context([data-bs-theme="dark"]) {
    .btn-add-column {
      background: $gray-900;
    }
  }
}

.user-board {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: hidden;

  &-inner {
    position: absolute;
    left: $pt2;
    right: $pt2;
    top: $pt2;
    bottom: $pt2;
    transition-duration: 0.3s;
  }
}

.slide {
  position: absolute;
  top: calc(50% - 100px);
  // bottom: calc(50% - 100px);
  bottom: 0;
  width: 200px;
  height: 200px;
  background: rgba($black, 0.1);
  color: $white;
  border: none;
  font-size: 2rem;
  transition-duration: 0.2s;
  display: none;
  border-radius: 100%;

  &:hover {
    background: rgba($black, 0.3);
  }

  &.left {
    left: -100px;
    text-align: right;
    padding-right: 40px;
  }

  &.right {
    right: -100px;
    text-align: left;
    padding-left: 40px;
  }

  &.visible {
    display: block;
  }
}
