<div class="issues">
  <div class="d-flex align-items-start flex-nowrap">
    <div class="issue-col flex-grow-0" *ngFor="let column of columns; trackBy trackByColumn"
         [style.width.px]="columnWidth"
         [style.min-width.px]="columnWidth">
      <app-kanban-column [column]="column" [user]="user" [search]="search" (onDelete)="catchDeleteColumn($event)"></app-kanban-column>
    </div>

    <div class="issue-col" *ngIf="accountService.isAdmin$ | async">
      <button class="btn btn-add-column" (click)="addColumn($event)" title="Добавить колонку">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </div>
  </div>
</div>
