<app-spinner [visible]="isLoading"></app-spinner>

<div class="filter-form mb-3" [formGroup]="filterForm">
  <div>
    <input type="text" class="form-control" formControlName="search" placeholder="Найти...">
  </div>
</div>

<div class="scroll">
  <ng-container *ngFor="let project of projects | filterProjectsByName: (filterForm.get('search')?.valueChanges | async); trackBy trackByProject">
    <div class="border-bottom">
      <app-admin-project-card [project]="project"></app-admin-project-card>
    </div>
  </ng-container>
</div>
