<div class="status">
  <div [ngSwitch]="sprint.status">
    <div *ngSwitchCase="SprintStatus.WAITING">
      <fa-icon [icon]="faClock" class="text-body"></fa-icon>
    </div>

    <div *ngSwitchCase="SprintStatus.RUNNING">
      <fa-icon [icon]="faPlay" class="text-success"></fa-icon>
    </div>

    <div *ngSwitchCase="SprintStatus.COMPLETED">
      <fa-icon [icon]="faStop" class="text-secondary"></fa-icon>
    </div>
  </div>
</div>

<div class="desc">
  <ng-container *ngIf="urls.getSprintUrl(sprint.id, sprint.team_id) as nav">
    <a [routerLink]="nav.url" [queryParams]="nav.query" class="title">{{sprint.represent}}</a>
  </ng-container>

  <div class="d-flex">
    <div class="date">{{sprint.start_date | formatDate}} - {{sprint.end_date | formatDate}}</div>

    <div class="team">{{sprint.team.title}}</div>
  </div>
</div>

<button class="btn btn-light ms-3 me-3" *ngIf="sprint.can_run" (click)="run()">
  <fa-icon [icon]="faPlay" class="text-success"></fa-icon>
  Запустить
</button>

<button class="btn btn-light ms-3 me-3" *ngIf="sprint.can_complete" (click)="complete()">
  <fa-icon [icon]="faStop" class="text-danger"></fa-icon>
  Завершить
</button>

<div class="count ms-3 me-3">{{sprint.count_bindings}} задач</div>

<div ngbDropdown>
  <button type="button" class="btn btn-light" id="sprint-dropdown" ngbDropdownToggle>...</button>
  <div ngbDropdownMenu>
    <button ngbDropdownItem (click)="change()">Изменить</button>
    <button ngbDropdownItem *ngIf="sprint.can_delete" (click)="delete()">Удалить</button>
  </div>
</div>
