@import '../../../../../styles/imports';

:host {
  display: flex;
  align-items: center;
  border: 1px solid $gray-200;
  padding: $pt3;
  background: $white;
  border-radius: $pt;

  :host-context([data-bs-theme="dark"]) & {
    background: $gray-800;
    border-color: $gray-700;
  }
}

.status {
  margin-right: $pt3;
}

.desc {
  flex-grow: 1;
}

.title {
  display: block;
  font-weight: 600;
  @include fs-paragraph-m();
  margin-bottom: $pt;
  color: $body-color;

  :host-context([data-bs-theme="dark"]) & {
    color: $gray-100;
  }
}

.date,
.team {
  padding: 2px $pt2;
  background: $gray-200;
  border-radius: 4px;
  margin-right: $pt3;
  @include fs-paragraph-xs();

  :host-context([data-bs-theme="dark"]) & {
    background: $gray-700;
    color: $gray-300;
  }
}

.count {
  :host-context([data-bs-theme="dark"]) & {
    color: $gray-200;
  }
}
