<div class="card p-1 fw-bold d-flex align-items-center" [class.selected]="selected">
  <span class="me-1 icon" (click)="toggleOpen()">
    <fa-icon [icon]="faChevronDown" *ngIf="isOpen"></fa-icon>
    <fa-icon [icon]="faChevronUp" *ngIf="!isOpen"></fa-icon>
  </span>
  <span class="flex-grow-1" (click)="click.emit($event)">{{group.title}}</span>
  <span class="count fw-normal fs-paragraph-xxs me-2">{{userCount}}</span>
</div>
<div class="contents" [class.open]="isOpen">
  <ng-content></ng-content>
</div>
