:host {
  display: block;
  min-height: calc(100vh - 200px);
  overflow-y: hidden;
  position: relative;
}

.scroll {
  overflow-y: auto;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}
