<div ngbDropdown #dropdown='ngbDropdown' autoClose='outside' (openChange)="onOpenChange($event)">
  <div class="btn-group dropdown-toggle-group">
    <div ngbDropdownToggle>
      <ng-container *ngIf="valueModel$.value">
        <div class="avatar">
          <img [src]="valueModel$.value.avatar_url">
        </div>
        <div class="name">
          {{valueModel$.value.name}}
        </div>
      </ng-container>

      <ng-container *ngIf="!valueModel$.value">
        <div class="empty-avatar">
          <fa-icon [icon]="faUser"></fa-icon>
        </div>
      </ng-container>
    </div>
  </div>
  <div ngbDropdownMenu class='shadow'>
    <div [formGroup]='searchForm' class='input-group filter-form' *ngIf='useSearch'>
      <input type="text" class='form-control filter-form__input' formControlName='search' placeholder='Найти...'>
    </div>

    <div class="scroll">
      <div ngbDropdownItem *ngIf='useClear' (click)='clear($event)'>
        <span *ngIf='!nullTitle'>Нет</span>
        <span *ngIf='nullTitle'>{{nullTitle}}</span>
      </div>
      <div ngbDropdownItem
        *ngFor='let item of valuesModel; trackBy: trackByItem'
        [class.active]='item.id === value.value'
        (click)='select($event, item)'>
        <div class="item-avatar">
          <img [src]="item.avatar_url">
        </div>
        <div class="item-name">
          {{item.name}}
        </div>
      </div>
    </div>

    <div class="empty" *ngIf='valuesModel?.length === 0 && !useClear'>
      Ничего не найдено
    </div>
  </div>
</div>
