@import '../../../../../styles/imports';

.dropdown-toggle-group {
  &:hover {
    .clear {
      display: flex;
    }

    .dropdown-toggle {
      background: $white;

      :host-context([data-bs-theme="dark"]) & {
        background: $gray-800;
      }
    }
  }
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background: transparent;
  border: 1px solid transparent;
  padding: 4px;
  border-radius: $pt2;
  transition-duration: .2s;
  border: none;

  &:hover,
  &.show {
    background: $white;
  }

  :host-context([data-bs-theme="dark"]) & {
    background: lighten($gray-900, 8);
    border-color: transparent;

    &:hover,
    &.show {
      background: $gray-800;
    }
  }
}

.avatar {
  width: $pt3;
  height: $pt3;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  margin-right: $pt;

  img {
    width: 100%;
    height: 100%;
  }
}

.empty-avatar {
  width: $pt3;
  height: $pt3;
  position: relative;
  border-radius: 100%;
  margin-right: $pt;
  border: 1px dashed $gray-300;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray-300;
}

.dropdown-menu {
  transform: translate(0, 35px) !important;
}

.dropdown-item {
  display: flex;
  align-items: center;
}

.item-avatar {
  width: $pt2;
  height: $pt2;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  margin-right: $pt;

  img {
    width: 100%;
    height: 100%;
    vertical-align: top;
  }
}


.clear {
  display: none;

  &:hover {
    background: $gray-100;
  }
}
