<div class="container">
  <div class="row">
    <div class="col d-flex flex-column justify-content-center align-items-center pt-4 pb-4">

      <form enctype="application/x-www-form-urlencoded" class='form rounded p-7 mb-2 ps-3 ps-sm-7 pe-3 pe-sm-7 shadow-lg'
            [formGroup]='form' (submit)='submit($event)' novalidate>
        <h1 class='fs-lead-s fw-medium text-center mb-8'>Войти в личный кабинет</h1>

        <div class="mb-3">
          <label for="id_username" class="form-label">Имя пользователя</label>
          <input type="text" formControlName='username' id="id_username" class="form-control">
          <app-input-alert *ngIf='form.get("username")?.hasError("required") && form.get("username")?.dirty'>Это поле обязательно</app-input-alert>
        </div>

        <div class="mb-4">
          <label for="id_password" class="form-label d-flex">
            <div>Пароль</div>
          </label>
          <input type="password" formControlName='password' id="id_password" class="form-control">
          <app-input-alert  *ngIf='form.get("password")?.hasError("required") && form.get("password")?.dirty'>Это поле обязательно</app-input-alert>
        </div>

        <button class="btn btn-primary w-100 mb-4" [class.loading]='isLoading'>Войти</button>

        <app-input-alert class="mt-4" *ngIf='authErrorMessage'>{{authErrorMessage}}</app-input-alert>
      </form>

    </div>
  </div>
</div>

