@import '../../../../../styles/imports';

app-priority-badge {
  pointer-events: none;
}

.empty-priority {
  @include fs-paragraph-xs();
  color: $gray-500;
}

.dropdown-toggle {
  width: 100%;
  height: 36px;
  display: flex;
  align-items: center;
}
