@import "../../../../../styles/imports";

.status-badge {
  display: flex;
  align-items: center;
  pointer-events: none;
}

.status-dot {
  width: 10px;
  min-width: 10px;
  height: 10px;
  border-radius: 100%;
  margin-right: 6px;
  background-color: $gray-400;

  &.backlog {
    background-color: $gray-400;
  }
  &.in_progress {
    background-color: #4a90d9;
  }
  &.done {
    background-color: #5cb85c;
  }
  &.blocked {
    background-color: #d9534f;
  }
  &.testing {
    background-color: #9b59b6;
  }
}

.status-label {
  @include fs-paragraph-xs();
  font-weight: 400;
  line-height: 1rem;
}
