@import '../../../../../styles/imports';

:host {
  max-width: 100%;

  &.flat {
    .dropdown-toggle {
      border-color: transparent;
      border-radius: $pt2;
      line-height: 34px;

      &:hover,
      &.show {
        background: $white;
      }

      :host-context([data-bs-theme="dark"]) & {
        background: lighten($gray-900, 8);
        border-color: transparent;

        &:hover {
          background: $gray-800;
        }
      }
    }

    .caret {
      display: none;
    }

    .clear {
      display: none;
    }

    .dropdown-toggle-group {
      &:hover {
        .clear {
          display: flex;
        }

        .dropdown-toggle {
          background: $white;

          :host-context([data-bs-theme="dark"]) & {
            background: lighten($gray-900, 8);

             &:hover {
              background: $gray-800;
            }
          }
        }
      }
    }
  }
}

.dropdown {
  &.show {
    .dropdown-toggle {
      z-index: 11;
    }

    .dropdown-menu {
      z-index: 10;
    }
  }
}

.dropdown-toggle-group {
  display: flex;
}

.dropdown-toggle {
  display: flex;
  position: relative;
  cursor: pointer;
  max-width: 100%;
  border-color: $gray-300;
  overflow: hidden;

  :host-context([data-bs-theme="dark"]) & {
    background: lighten($gray-900, 8);
    border-color: $gray-700;
    color: $gray-100;

    &:hover {
      background: $gray-800;
    }
  }

  &:after {
    display: none;
  }
}

.caption {
  flex-grow: 1;
  text-align: left;
  max-width: calc(100% - 10px);
  min-width: 100px;
  margin-right: $pt2;
  font-weight: 400;
  @include fs-paragraph-xs();

  :host-context([data-bs-theme="dark"]) & {
    color: $gray-100;
  }
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  border-radius: 0 0 4px 4px;
  transform: translate(0, 47px) !important;
  border-color: $border-color;
  min-width: 100%;

  :host-context([data-bs-theme="dark"]) & {
    background: $gray-800;
    border-color: $gray-700;
  }
}

.dropdown-item {
  padding: $pt $pt2;
  cursor: pointer;

  :host-context([data-bs-theme="dark"]) & {
    color: $gray-100;

    &:hover {
      background: $gray-700;
    }
  }
}

.empty {
  padding: $pt $pt2;

  :host-context([data-bs-theme="dark"]) & {
    color: $gray-500;
  }
}

.scroll {
  max-height: 400px;
  overflow-y: auto;
}

.clear {
  background: $white;
  border: none;
  width: $pt3;
  height: $pt3;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $gray-500;
  border-radius: 100%;
  position: absolute;
  right: $pt;
  top: calc(50% - $pt3 / 2);
  transition-duration: .2s;

  :host-context([data-bs-theme="dark"]) & {
    background: $gray-800;
    color: $gray-400;
  }

  &:hover {
    background: $gray-100;

    :host-context([data-bs-theme="dark"]) & {
      background: $gray-700;
    }
  }
}
