<div ngbDropdown #dropdown='ngbDropdown' autoClose='outside'>
  <div class="btn-group dropdown-toggle-group">
    <div ngbDropdownToggle class='btn btn-block'>
      <span class="caption text-truncate text-gray300" *ngIf='!selectValue && !title'>
        <span *ngIf='!title && !nullTitle'>...</span>
        <span *ngIf='nullTitle'>{{nullTitle}}</span>
        <span *ngIf='!nullTitle && title'>{{title}}</span>
      </span>

      <span class="caption text-truncate text-gray300" *ngIf='!selectValue && title'>{{title}}</span>
      <span class="caption text-truncate" *ngIf='selectValue' [innerHTML]="getTitle(selectValue) | safe"></span>
    </div>

    <button class="clear" *ngIf='useClear' (click)='clear($event)'>
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>
  <div ngbDropdownMenu class='shadow'>
    <div [formGroup]='searchForm' class='input-group filter-form' *ngIf='useSearch'>
      <input type="text" class='form-control filter-form__input' formControlName='search' placeholder='Найти...'>
    </div>

    <div class="scroll">
      <div ngbDropdownItem *ngIf='useClear'(click)='clear($event)'>
        <span *ngIf='!nullTitle'>Нет</span>
        <span *ngIf='nullTitle'>{{nullTitle}}</span>
      </div>
      <div ngbDropdownItem
        *ngFor='let item of values | selectItemsFilter: getSearchText(); trackBy: trackByItem'
        [class.active]='item.id === value'
        (click)='select($event, item)'
        [innerHTML]="getItemTitle(item) | safe">
      </div>
    </div>

    <div class="empty" *ngIf='(values | selectItemsFilter: getSearchText()).length === 0 && !nullTitle && !useClear'>
      Ничего не найдено
    </div>
  </div>
</div>
