@import '../../../../../styles/imports';

.avatar {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.user-title {
  line-height: 40px;

  :host-context([data-bs-theme="dark"]) & {
    color: $white;
  }
}


.no-auth {
  @include fs-paragraph-xxs();
  color: $gray-500;
  line-height: 40px;
  margin-right: $pt3;

  :host-context([data-bs-theme="dark"]) & {
    color: $white;
  }
}

.role {
  margin-right: $pt3;
}
