<div ngbDropdown #dropdown='ngbDropdown' autoClose='outside'>
  <div ngbDropdownToggle class='btn btn-outline-secondary btn-block d-flex align-items-center w-100'>
    <span class="caption text-truncate text-gray300 flex-grow-1">
      {{selectValue ?? "?"}}
    </span>
  </div>
  <div ngbDropdownMenu class='shadow'>
    <div class="cells">
      <button *ngFor="let val of ESTIMATE_VALUES" (click)="select(val)" class="cell" ngbDropdownItem
        [class.active]="selectValue === val">
        {{val}} час
      </button>
    </div>
  </div>
</div>
