@import '../../../../../styles/imports';

:host {
  display: block;
  width: 100%;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background: transparent;
  border: 1px solid transparent;
  padding: 4px;
  border-radius: $pt2;
  transition-duration: .2s;
  cursor: pointer;

  &:hover,
  &.show {
    background: $white;
  }

  &:after {
    display: none;
  }
}

.caption {
  text-align: center;
}

.dropdown-menu {
  padding: 0;
}

.cells {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cell {
  background: $white;
  border: none;
  padding: $pt2;
  @include fs-paragraph-xs();
  text-align: center;
  cursor: pointer;
  white-space: nowrap;

  &:hover {
    background: $gray-100;
  }

  &.active {
    background: $primary;
    color: $white;
  }
}
