<div ngbDropdown #dropdown='ngbDropdown' autoClose='outside'>
  <div ngbDropdownToggle class="val-{{selectValue}}">
    <span class="caption text-truncate text-gray300 flex-grow-1">
      {{selectValue ?? "?"}}
    </span>
  </div>
  <div ngbDropdownMenu class='shadow'>
    <div class="cells">
      <button *ngFor="let val of ESTIMATE_VALUES" (click)="select(val)" class="cell val-{{val}}" ngbDropdownItem
        [class.active]="selectValue === val">
        {{val ? val : '?'}}
      </button>
    </div>
  </div>
</div>
