@import '../../../../../styles/imports';


:host {
  display: block;
  width: 100%;
}

.dropdown-toggle {
  display: flex;
  align-items: center;
  flex-grow: 1;
  background: transparent;
  border: 1px solid transparent;
  padding: 4px;
  border-radius: $pt2;
  transition-duration: .2s;
  cursor: pointer;

  &:hover,
  &.show {
    background: $white;
  }

  &:after {
    display: none;
  }

  :host-context([data-bs-theme="dark"]) & {
    background-color: lighten($gray-900, 8);
  }

  @for $i from 1 through 8 {
    &.val-#{$i} {
      background-color: $estimate-low-color;
      color: darken($color: $estimate-low-color, $amount: 50);

      :host-context([data-bs-theme="dark"]) & {
        background-color: $estimate-low-color;
      }

      &:hover,
      &.show {
        border-color: darken($color: $estimate-low-color, $amount: 20);
      }
    }
  }

  @for $i from 9 through 24 {
    &.val-#{$i} {
      background-color: $estimate-mid-color;
      color: darken($color: $estimate-mid-color, $amount: 50);

      :host-context([data-bs-theme="dark"]) & {
        background-color: $estimate-mid-color;
      }

      &:hover,
      &.show {
        border-color: darken($color: $estimate-mid-color, $amount: 20);
      }
    }
  }

  @for $i from 25 through 40 {
    &.val-#{$i} {
      background-color: $estimate-hard-color;
      color: darken($color: $estimate-hard-color, $amount: 50);

      :host-context([data-bs-theme="dark"]) & {
        background-color: $estimate-hard-color;
      }

      &:hover,
      &.show {
        border-color: darken($color: $estimate-hard-color, $amount: 20);
      }
    }
  }
}

.dropdown-menu {
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba($black, 0.15);
  overflow: hidden;
}

.caption {
  text-align: center;
}

.dropdown-menu {
  padding: 0;
}

.cells {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cell {
  background: $white;
  border: 1px $white;
  border-style: none solid solid none;
  padding: $pt2;
  @include fs-paragraph-s();
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  transition-duration: .2s;

  @for $i from 1 through 8 {
    &.val-#{$i} {
      // background-color: $estimate-low-color;
      color: darken($color: $estimate-low-color, $amount: 50);
    }
  }

  @for $i from 9 through 24 {
    &.val-#{$i} {
      // background-color: $estimate-mid-color;
      color: darken($color: $estimate-mid-color, $amount: 40);
    }
  }

  @for $i from 25 through 40 {
    &.val-#{$i} {
      // background-color: $estimate-hard-color;
      color: darken($color: $estimate-hard-color, $amount: 50);
    }
  }

  &:hover {
    background: $gray-100;
  }

  &.active {
    background: $primary;
    color: $white;
  }
}
