<div class="pt-2 pb-2 shadow header">
  <div class="container-fluid">
    <div class="row">
      <div class="col d-flex align-items-center">
        <a routerLink="/" class="logo me-1">
        </a>
        <a routerLink="/" class="caption me-auto">KABAN BOARD</a>

        <div class="update-time me-3">
          Синхронизация с Gitlab: {{syncService.updateTime$ | async | elapsedTime:now}}
        </div>

        <div class="settings me-3" [formGroup]="form">
          <div class="form-check form-switch mb-0">
            <input class="form-check-input" type="checkbox" role="switch" id="darkMode" formControlName="darkMode">
            <label class="form-check-label" for="darkMode">Темная тема</label>
          </div>
        </div>

        <div>
          <app-header-account></app-header-account>
        </div>
      </div>
    </div>
  </div>
</div>
