<div class="modal-header">
  <h4 class="modal-title">Новая задача</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="close()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <!-- Ошибки сервера -->
    <app-input-error [errorData]="errors" code="error"></app-input-error>

    <!-- Project -->
    <div class="mb-3">
      <label for="project" class="form-label">Проект <span class="text-danger">*</span></label>
      <app-select-model
        id="project"
        [service]="projectService"
        [formatter]="projectService.formatter"
        [itemFormatter]="projectService.formatter"
        formControlName="project"
        title="Выберите проект"
        [useClear]="true"
        [useSearch]="true">
      </app-select-model>
      <app-input-error [errorData]="errors" code="projectId"></app-input-error>
    </div>

    <div class="mb-3">
      <label for="assignee" class="form-label">Исполнитель <span class="text-danger">*</span></label>
      <app-assignee-select
        id="assignee"
        formControlName="assignee"
        title="Выберите исполнителя"
        [useClear]="true"
        [useSearch]="true">
      </app-assignee-select>
      <app-input-error [errorData]="errors" code="assignee"></app-input-error>
    </div>

    <!-- Title -->
    <div class="mb-3">
      <label for="title" class="form-label">Название <span class="text-danger">*</span></label>
      <textarea
        id="title"
        class="form-control"
        formControlName="title"
        rows="5"
        [class.is-invalid]="getErrorMessage('title')">
      </textarea>
      <app-input-error [errorData]="errors" code="title"></app-input-error>
    </div>

  </form>
</div>

<div class="modal-footer d-flex">
  <div class="btn-group flex-grow-1 d-flex">
    <button type="button" class="btn btn-outline-secondary flex-grow-1 btn-create" (click)="submit()" [disabled]="isLoading">
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
      Создать
    </button>
    <button type="button" class="btn btn-outline-secondary flex-grow-1 btn-cancel" (click)="close()" [disabled]="isLoading">
      Отмена
    </button>
  </div>
</div>
