<div class="board">
  <app-spinner [visible]="isLoading"></app-spinner>

  <div class="user-list" *ngIf="users.length > 0">
    <div class="filter p-2" [formGroup]="filterForm">
      <app-select-model [service]="teamService" [useClear]="true" formControlName="team"
                        nullTitle="Все"></app-select-model>
    </div>

    <form class="user-search d-flex" [formGroup]="searchForm">
      <input type="text" class="search-input form-control flex-grow-1" formControlName="search" placeholder="Найти...">
      <button class="search-clear btn"><fa-icon [icon]="faXmark" (click)="clearSearch($event)"></fa-icon></button>
    </form>

    <div class="user-list-scroll">
      <ng-container [ngTemplateOutlet]="userGroupTpl" [ngTemplateOutletContext]="{
        users: users | filterUsersByGroup: null | filterUsersByTeam: (teamId$ | async) | searchUsers:searchForm.get('search')?.value,
        group: otherGroup,
        open: false
      }"></ng-container>

      <div *ngFor="let group of team?.groups">
        <ng-container [ngTemplateOutlet]="userGroupTpl" [ngTemplateOutletContext]="{
          users: users | filterUsersByGroup: group.id | filterUsersByTeam: (teamId$ | async) | searchUsers:searchForm.get('search')?.value,
          group: group,
          open: true
        }"></ng-container>
      </div>
    </div>

  </div>

  <div class="content">
    <div class="board-header" [formGroup]="filterForm">
      <div class="btn-group me-3">
        <button class="btn btn-light">
          <fa-icon [icon]="faTableColumns"></fa-icon>
        </button>
        <button class="btn btn-light">
          <fa-icon [icon]="faTableList"></fa-icon>
        </button>
      </div>

      <app-select-model [service]="sprintService" formControlName="sprint" [useClear]="true" title="Спринт"
        [itemFormatter]="sprintService.formatter" [formatter]="sprintService.formatter"
        class="me-1"></app-select-model>

      <button class="btn btn-outline-secondary me-3"><fa-icon [icon]="faPlus"></fa-icon></button>

      <a routerLink="/reports" class="btn btn-light ms-auto">Отчеты по спринту</a>
    </div>

    <div class="position-relative flex-grow-1">
      <ng-container *ngIf="selectedUser && team">
        <app-user-board [user]="selectedUser" [team]="team"
          [search]="search$ | async"></app-user-board>
      </ng-container>
    </div>

</div>


<ng-template let-users="users" let-group="group" let-open="open" #userGroupTpl>
  <ng-container *ngIf="users.length > 0">
    <app-user-group-card [group]="group" [userCount]="users.length" [isOpen]="open">
      <app-user-card [user]="user" *ngFor="let user of users; trackBy trackByUser"
        (click)="goToUserBoard(user)"
        [selected]="selectedUser === user"></app-user-card>
    </app-user-group-card>
  </ng-container>
</ng-template>
