@import '../../../../../styles/imports.scss';

$user-list-width: 320px;
$board-header-height: 100px;

.board {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $gray-100;

  :host-context([data-bs-theme="dark"]) {
    .board {
      background: $gray-800;
    }
  }
}

.user-list {
  position: absolute;
  left: 0;
  width: $user-list-width;
  top: 0;
  bottom: 0;
  background: $white;
  border-right: 1px solid $gray-100;

  :host-context([data-bs-theme="dark"]) {
    .user-list  {
      background: $gray-900;
    }
  }

  &-scroll {
    position: absolute;
    left: 0;
    width: $user-list-width;
    top: 140px;
    bottom: 0;
    overflow-y: auto;
  }
}

.content {
  position: absolute;
  left: $user-list-width;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
}

.search-input {
  border: none;
  background: $white;
  padding: $pt/2 $pt3;

  :host-context([data-bs-theme="dark"]) {
    .search-input   {
      background: $gray-900;
    }
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.search-clear {
  background: $white;

  :host-context([data-bs-theme="dark"]) {
    .search-clear {
      background: $gray-900;
    }
  }
}

.board-header {
  padding: $pt2 $pt3;
  background: $white;
  display: flex;
  align-items: center;
}
