@import '../../../../../styles/imports.scss';

$user-list-width: 320px;
$board-header-height: 100px;

.board {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  background: $gray-100;

  :host-context([data-bs-theme="dark"]) {
    .board {
      background: $gray-800;
    }
  }
}

.teams {
  background: $gray-300;
  padding: $pt;
  display: flex;
  flex-direction: column;
  gap: $pt;
}

.team {
  border: 2px solid $white;
  background: $white;
  width: $pt6;
  height: $pt6;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  cursor: pointer;

  &:hover {
    border-color: $primary;
  }

  &.active {
    border-color: $primary;
  }
}

.user-list {
  position: relative;
  width: $user-list-width;
  background: $white;
  border-right: 1px solid $gray-100;
  display: flex;
  flex-direction: column;

  :host-context([data-bs-theme="dark"]) {
    .user-list  {
      background: $gray-900;
    }
  }

  &__content {
    flex-grow: 1;
    position: relative;
  }

  &__scroll {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
}

.content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.search-input {
  border: none;
  background: $white;
  padding: $pt/2 $pt3;

  :host-context([data-bs-theme="dark"]) {
    .search-input   {
      background: $gray-900;
    }
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.search-clear {
  background: $white;

  :host-context([data-bs-theme="dark"]) {
    .search-clear {
      background: $gray-900;
    }
  }
}

.board-header {
  padding: $pt2 $pt3;
  background: $white;
  display: flex;
  align-items: center;
}
