<div class="board">
  <app-spinner [visible]="isLoading"></app-spinner>

  <div class="user-list" *ngIf="users.length > 0">
    <div class="filter p-2" [formGroup]="filterForm">
      <app-select-model [service]="teamService" [useClear]="true" formControlName="team"
                        nullTitle="Все"></app-select-model>
    </div>

    <form class="user-search d-flex" [formGroup]="searchForm">
      <input type="text" class="search-input form-control flex-grow-1" formControlName="search" placeholder="Найти...">
      <button class="search-clear btn"><fa-icon [icon]="faXmark" (click)="clearSearch($event)"></fa-icon></button>
    </form>

    <div class="user-list-scroll">
      <ng-container *ngIf="(users | filterUsersByGroup: null | filterUsersByTeam: (teamId$ | async)).length > 0">
        <app-user-group-card [group]="otherGroup" [isOpen]="false">
          <app-user-card [user]="user" *ngFor="let user of users | filterUsersByGroup: null | filterUsersByTeam: (teamId$ | async) | searchUsers:searchForm.get('search')?.value | filterUsersByText: (search$ | async); trackBy trackByUser"
          (click)="goToUserBoard(user)"
          [selected]="selectedUser === user"
          [columns]="getActiveColumns((teamId$ | async))"></app-user-card>
        </app-user-group-card>
      </ng-container>

      <div *ngFor="let group of team?.groups">
        <ng-container *ngIf="(users | filterUsersByGroup: group.id | filterUsersByTeam: (teamId$ | async) | searchUsers:searchForm.get('search')?.value | filterUsersByText: (search$ | async)).length > 0">
          <app-user-group-card [group]="group" >
            <app-user-card [user]="user" *ngFor="let user of users | filterUsersByGroup: group.id | filterUsersByTeam: (teamId$ | async) | searchUsers:searchForm.get('search')?.value | filterUsersByText: (search$ | async); trackBy trackByUser"
              (click)="goToUserBoard(user)"
              [selected]="selectedUser === user"
              [columns]="getActiveColumns((teamId$ | async))"></app-user-card>
          </app-user-group-card>
        </ng-container>
      </div>
    </div>

  </div>

  <div class="user-board" *ngIf="selectedUser" (swipeLeft)="swipeLeft($event)" (swipeRight)="swipeRight($event)">
    <div class="user-board-inner" [ngStyle]="getUserBoardStyles()" #UserBoardInner>
      <app-user-board [user]="selectedUser" [columns]="getActiveColumns((teamId$ | async))"
        [columnWidth]="COLUMN_WIDTH"
        [search]="search$ | async"
        (onAddColumn)="catchAddColumn($event)"
        (onDeleteColumn)="catchDeleteColumn($event)"
        (onUpdateColumns)="catchUpdateColumns($event)"
        (onDrag)="catchDrag($event)"></app-user-board>
    </div>

    <button class="slide left" (click)="slideLeft($event)" [class.visible]="getScreenStartColumn() > 0">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
    </button>

    <button class="slide right" (click)="slideRight($event)" [class.visible]="getScreenEndColumn() - 1 < getActiveColumns((teamId$ | async)).length">
      <fa-icon [icon]="faArrowRight"></fa-icon>
    </button>
  </div>
</div>
