@import '../../../../../styles/imports';

:host {
  display: grid;
  grid-template-columns: 1fr 2fr repeat(9, 1fr);
  background: $white;
}

.column {
  border-right: 1px solid $gray-100;
  border-bottom: 1px solid $gray-100;
  padding: $pt;
  @include fs-paragraph-xs()
}

.assignee {
  display: flex;
  align-items: center;

  &__avatar {
    width: $pt3;
    height: $pt3;
    border-radius: 50%;
    overflow: hidden;
    margin-right: $pt;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    img {
      max-width: 100%;
      max-height: 100%
    }
  }
}
