<ng-container [formGroup]="form">
  <td class="column">
    <a [href]="issue.webUrl" target="_blank" class="project">{{issue.projectName}}#{{issue.iid}}</a>
    {{issue.title}}
  </td>
  <td class="column">
    <div class="assignee" *ngIf="!canEdit()">
      <div class="avatar" *ngIf="issue.assignee?.avatar_url">
        <img [src]="issue.assignee?.avatar_url">
      </div>
      <div class="empty-avatar" *ngIf="!issue.assignee?.avatar_url">
        <fa-icon [icon]="faUser"></fa-icon>
      </div>
      <div class="name">{{issue.assignee?.name}}</div>
    </div>

    <app-assignee-select formControlName="assignee" [useSearch]="true" [useClear]="true"
      [formatter]="userService.formatter" [itemFormatter]="userService.formatter"
      [valueModel]="issue.assignee"
      [filter]="assigneeFilter"
      *ngIf="canEdit()"></app-assignee-select>
  </td>
  <td class="column">
    <div class="epic" *ngIf="!canEdit()">
      {{issue.epic?.title}}
    </div>

    <app-select-model class="flat" formControlName="epic" [service]="epicService" [useSearch]="true" [useClear]="true"
      [filter]="{project: issue.projectId}"
      [valueModel]="issue.epic"
      *ngIf="canEdit()"></app-select-model>
  </td>
  <td class="column">
    <div class="release" *ngIf="!canEdit()">
      {{issue.release?.title}}
    </div>

    <app-select-model class="flat" formControlName="release" [service]="releaseService" [useSearch]="true" [useClear]="true"
      [filter]="{project: issue.projectId}"
      [valueModel]="issue.release"
      *ngIf="canEdit()"></app-select-model>
  </td>
  <td class="column">
    <app-priority-badge [priority]="issue.priority" *ngIf="issue.priority && !canEdit()"></app-priority-badge>

    <app-priority-select class="flat" formControlName="priority" *ngIf="canEdit()" [useClear]="true"></app-priority-select>
  </td>
  <td class="column">
    <span *ngIf="issue.estimateDev && !canEdit()">{{issue.estimateDev}} ч.</span>

    <app-select-estimate class="flat" formControlName="estimateDev" *ngIf="canEdit()"></app-select-estimate>
  </td>
  <td class="column">
    <span *ngIf="issue.estimateQA && !canEdit()">{{issue.estimateQA}} ч.</span>

    <app-select-estimate class="flat" formControlName="estimateQA" *ngIf="canEdit()"></app-select-estimate>
  </td>
  <td class="column">
    <div class="status" *ngIf="issue.bindStatus && !canEdit()">{{BIND_STATUS_LABELS[issue.bindStatus]}}</div>

    <app-select class="flat" [values]="BIND_STATUS_VALUES" formControlName="bindStatus" *ngIf="canEdit()"></app-select>
  </td>
  <td class="column">
    <div class="comment" *ngIf="issue.comment && !canEdit()">{{issue.comment}}</div>

    <div #commentEl contenteditable="true" class="comment-edit"
      *ngIf="canEdit()"
      (input)="onCommentInput($event)"
      (keydown.enter)="$event.preventDefault()"></div>
  </td>
  <td class="column">
    <div ngbDropdown *ngIf="canEdit()">
      <button class="btn btn-row-actions" ngbDropdownToggle>
        <fa-icon [icon]="faEllipsisVertical"></fa-icon>
      </button>
      <div ngbDropdownMenu>
        <button ngbDropdownItem (click)="unbindIssue()">Удалить</button>
      </div>
    </div>
  </td>
</ng-container>
