@import '../../../../../styles/imports';

:host {
  display: block;
}

.form {
  background: $white;
  display: grid;
  grid-template-columns: 1fr 2fr repeat(9, 1fr);
}

.column {
  border-right: 1px solid $gray-100;
  border-bottom: 1px solid $gray-100;
  padding: $pt;
  @include fs-paragraph-xs();
  display: flex;
  align-items: center;
}
