<form [formGroup]="form" class="form">
  <div class="column project">
    {{issue.projectName}}
  </div>
  <div class="column">
    {{issue.title}}
  </div>
  <div class="column">
    <app-select-model [service]="userService" formControlName="assignee" [useSearch]="true" [useClear]="true"
      [formatter]="userService.formatter" [itemFormatter]="userService.formatter"></app-select-model>
  </div>
  <div class="column">&nbsp;</div>
  <div class="column">
    {{issue.milestone?.title}}
  </div>
  <div class="column">&nbsp;</div>
  <div class="column">
    <app-select-estimate formControlName="estimateDev"></app-select-estimate>
  </div>
  <div class="column">
    <app-select-estimate formControlName="estimateQA"></app-select-estimate>
  </div>
  <div class="column">
    <app-select [values]="BIND_STATUS_VALUES" formControlName="bindStatus"></app-select>
  </div>
  <div class="column">&nbsp;</div>
  <div class="column">&nbsp;</div>
</form>
