@import "../../../../../styles/imports.scss";

.btn-user {
  display: flex;
  align-items: center;
  line-height: 1rem;
  background: $white;
  border-radius: $pt3;
  border: 1px solid $gray-200;
  padding: 4px $pt2 4px $pt;

  &:after {
    display: none;
  }

  :host-context([data-bs-theme="dark"]) {
    .btn-user {
      background: $gray-800;
      border-color: $gray-800;
    }
  }
}

.user-icon {
  margin-right: 4px;

  :host-context([data-bs-theme="dark"]) {
    .user-icon {
      color: $gray-400;
    }
  }
}

.avatar {
  display: block;
  margin-right: 4px;

  img {
    max-height: 24px;
    max-width: 24px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid $gray-100;

    :host-context([data-bs-theme="dark"]) {
      img {
        border-color: $gray-700;
      }
    }
  }
}

.username {
  display: block;
  color: $body-color;

  :host-context([data-bs-theme="dark"]) {
    .username {
      color: $gray-100;
    }
  }
}
