@import "../../../../../styles/imports";

.issue-title {
  @include fs-paragraph-s();
}

.assignee-item {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  .assignee-avatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
  }
}

.modal-body {
  :host-context([data-bs-theme="dark"]) & {
    a {
      color: $primary;
    }
  }
}

.prop {
  line-height: 1rem;

  &-title {
    font-weight: 500;
    display: flex;
    align-items: end;
  }

  &-separator {
    flex-grow: 1;
    border-bottom: 1px dashed $gray-300;
  }

  &-value {
    display: flex;
    align-items: end;
  }
}

.sprint-table {
  margin-bottom: 0;

  th,
  td {
    vertical-align: middle;
    padding: $pt;
    @include fs-paragraph-xs();
  }

  th {
    font-weight: 600;
    text-transform: uppercase;
    color: $gray-700;
  }

  :host-context([data-bs-theme="dark"]) & {
    --bs-table-color: #{$gray-100};
    --bs-table-bg: transparent;
    --bs-table-border-color: #{$gray-700};
    --bs-table-striped-color: #{$gray-100};
    --bs-table-striped-bg: #{$gray-800};
    --bs-table-hover-color: #{$gray-100};
    --bs-table-hover-bg: #{$gray-800};
  }
}

.tab-content {
  :host-context([data-bs-theme="dark"]) & {
    color: $gray-100;
  }
}
