<div ngbDropdown #dropdown='ngbDropdown' autoClose='outside'>
  <div class="btn-group dropdown-toggle-group">
    <div ngbDropdownToggle class="btn">
      <ng-container *ngIf="value !== null">
        <div class="status-badge">
          <span class="status-dot" [ngClass]="value"></span>
          <span class="status-label">{{ BIND_STATUS_LABELS[value] }}</span>
        </div>
      </ng-container>

      <ng-container *ngIf="value === null">
        <div class="empty-status">...</div>
      </ng-container>
    </div>

    <button class="clear" *ngIf="useClear && value !== null" (click)="clear($event)">
      <fa-icon [icon]="faTimes"></fa-icon>
    </button>
  </div>

  <div ngbDropdownMenu class="shadow">
    <div class="scroll">
      <div ngbDropdownItem
        *ngFor="let item of values"
        [class.active]="item.id === value"
        (click)="select($event, $any(item.id))">
        <div class="status-badge">
          <span class="status-dot" [ngClass]="item.id.toString()"></span>
          <span class="status-label">{{ item.title }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
