<table class="issue-table">
  <thead>
    <tr>
      <th class="column">&nbsp;</th>
      <th class="column sortable" (click)="toggleSort('task')">
        Задача
        <fa-icon [icon]="sortColumn === 'task' ? (sortDirection === 'asc' ? faSortUp : faSortDown) : faSort"
          class="sort-icon ms-1"
          [class.active]="sortColumn === 'task'">
        </fa-icon>
      </th>
      <th class="column sortable" (click)="toggleSort('assignee')">
        Исполнитель
        <fa-icon [icon]="sortColumn === 'assignee' ? (sortDirection === 'asc' ? faSortUp : faSortDown) : faSort"
          class="sort-icon ms-1"
          [class.active]="sortColumn === 'assignee'">
        </fa-icon>
      </th>
      <th class="column sortable" (click)="toggleSort('epic')">
        Эпик
        <fa-icon [icon]="sortColumn === 'epic' ? (sortDirection === 'asc' ? faSortUp : faSortDown) : faSort"
          class="sort-icon ms-1"
          [class.active]="sortColumn === 'epic'">
        </fa-icon>
      </th>
      <th class="column sortable" (click)="toggleSort('release')">
        Релиз
        <fa-icon [icon]="sortColumn === 'release' ? (sortDirection === 'asc' ? faSortUp : faSortDown) : faSort"
          class="sort-icon ms-1"
          [class.active]="sortColumn === 'release'">
        </fa-icon>
      </th>
      <th class="column sortable" (click)="toggleSort('priority')">
        Приоритет
        <fa-icon [icon]="sortColumn === 'priority' ? (sortDirection === 'asc' ? faSortUp : faSortDown) : faSort"
          class="sort-icon ms-1"
          [class.active]="sortColumn === 'priority'">
        </fa-icon>
      </th>
      <th class="column">Dev(ч)</th>
      <th class="column">QA(ч)</th>
      <th class="column sortable" (click)="toggleSort('status')">
        Статус
        <fa-icon [icon]="sortColumn === 'status' ? (sortDirection === 'asc' ? faSortUp : faSortDown) : faSort"
          class="sort-icon ms-1"
          [class.active]="sortColumn === 'status'">
        </fa-icon>
      </th>
      <th class="column">Комментарий</th>
      <th class="column">&nbsp;</th>
    </tr>
  </thead>
  <tbody cdkDropList (cdkDropListDropped)="dropIssue($event)">
    <ng-container *ngFor="let group of displayedIssueGroups; trackBy: trackByGroup">
      <tr class="group-header" *ngIf="group.groupTitle">
        <td colspan="11">{{ group.groupTitle }}</td>
      </tr>
      <tr app-issue-table-row *ngFor="let issue of group.issues; trackBy: trackByIssue"
        [class.row-updated]="issue.bindingId != null && highlightedIds.has(issue.bindingId)"
        [issue]="issue"
        [team]="team$.value"
        [sprint]="sprint$.value"
        (unbind)="unbindIssue($event)"
        (save)="onSaveIssue($event)"
        (deleteIssue)="onDeleteIssue($event)"
        cdkDrag
        [cdkDragDisabled]="!(accountService.isAdmin$ | async) || !(sprint$ | async)">
        <div *cdkDragPlaceholder colspan="11" class="drag-placeholder-cell"></div>
      </tr>
    </ng-container>

    <tr *ngIf="(sprint$ | async) && (accountService.isAdmin$ | async)">
      <td colspan="11">
        <div class="d-flex">
          <button class="btn-append" (click)="appendIssue()">
            <fa-icon [icon]="faPlus" class="me-1"></fa-icon>
            <span>Добавить задачу</span>
          </button>

          <button class="btn-append" (click)="createIssue()">
            <fa-icon [icon]="faPlus" class="me-1"></fa-icon>
            <span>Создать задачу</span>
          </button>
        </div>
      </td>
    </tr>

    <tr *ngIf="!(sprint$ | async)">
      <td colspan="11">
        <div class="end" observeVisibility [debounceTime]="100" [threshold]="0.5" (visible)="onEnd($event)"></div>
      </td>
    </tr>
  </tbody>
</table>


