<table class="issue-table">
  <thead>
    <tr>
      <th class="column">Задача</th>
      <th class="column">Исполнитель</th>
      <th class="column">Эпик</th>
      <th class="column">Релиз</th>
      <th class="column">Приоритет</th>
      <th class="column">Оценка разработки</th>
      <th class="column">Оценка тестирования</th>
      <th class="column">Статус</th>
      <th class="column">Комментарий</th>
      <th class="column">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <tr app-issue-table-row *ngFor="let issue of issues; trackBy: trackByIssue"
      [issue]="issue"
      [team]="team$.value"
      [sprint]="sprint$.value"
      (unbind)="unbindIssue($event)"></tr>

    <tr *ngIf="(sprint$ | async) && (accountService.isAdmin$ | async)">
      <td colspan="11">

        <button class="btn-append" (click)="appendIssue()">
          <fa-icon [icon]="faPlus" class="me-1"></fa-icon>
          <span>Добавить задачу</span>
        </button>
      </td>
    </tr>

    <tr *ngIf="!(sprint$ | async)">
      <td colspan="11">
        <div class="end" observeVisibility [debounceTime]="100" [threshold]="0.5" (visible)="onEnd($event)"></div>
      </td>
    </tr>
  </tbody>
</table>


