@import '../../../../../styles/imports';

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  display: grid;
  grid-template-columns: 1fr 2fr repeat(9, 1fr);
  gap: $pt3;
  background: $gray-300;
}

.column {
  display: flex;
  align-items: center;
  padding: $pt $pt3;
  @include fs-paragraph-xs();
  text-transform: uppercase;
  font-weight: 600;;
}

.scroll {
  position: relative;
  flex-grow: 1;
  overflow-y: auto;
}

