@import '../../../../../styles/imports';

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $pt2;

  :host-context([data-bs-theme="dark"]) & {
    background: $gray-800;
  }
}

.issue-table {
  flex-flow: column;
  display: flex;
  width: 100%;
  flex-grow: 1;
  max-height: 100%;
  border-radius: $pt;
  overflow: hidden;

  thead {
    display: table;
    table-layout: fixed;
    flex: 0 0 auto;

    tr {
      width: 100%;
    }

    th {
      padding: $pt;
      @include fs-paragraph-xxs();
      text-transform: uppercase;
      font-weight: 600;
      border-right: 1px solid $gray-100;
      border-bottom: 1px solid $gray-100;
      background: $white;
      text-align: center;

      :host-context([data-bs-theme="dark"]) & {
        background: $gray-850;
        border-color: $gray-800;
        color: $gray-300;
      }
    }
  }

  tbody {
    background: $white;
    display: block;
    overflow-y: scroll;
    flex-grow: 1;

    :host-context([data-bs-theme="dark"]) & {
      background: $gray-900;
    }

    tr {
      width: 100%;
      display: table;
      table-layout: fixed;
      border-bottom: 1px solid $gray-100;

      :host-context([data-bs-theme="dark"]) & {
        border-color: lighten($gray-900, 5);
      }

      &:hover {
        background-color: $gray-100;

        :host-context([data-bs-theme="dark"]) & {
          background-color: lighten($gray-900, 5);
        }
      }
    }
  }

  thead th,
  ::ng-deep tbody td {
    // border: 1px solid $black;

    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(10) {
      width: 55px;
      max-width: 55px;
    }
    &:nth-child(2) {
      width: 200px;
      max-width: 200px;
    }
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(8) {
      width: 130px;
      max-width: 130px;
    }
    &:nth-child(9) {
      width: 300px;
      max-width: 300px;
    }
  }
}

.btn-append {
  display: block;
  width: 100%;
  padding: $pt $pt3;
  text-align: center;
  color: $gray-600;
  @include fs-paragraph-xs();
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid transparent;
  background: $white;

  :host-context([data-bs-theme="dark"]) & {
    background: $gray-800;
    color: $gray-400;
  }

  &:hover {
    :host-context([data-bs-theme="dark"]) & {
      background: $gray-700;
    }
  }
}

.end {
  height: 50px;
  background: transparent;
}
