@import '../../../../../styles/imports';

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: $pt2;
}

.issue-table {
  flex-flow: column;
  display: flex;
  width: 100%;
  flex-grow: 1;
  max-height: 100%;
  border-radius: $pt;
  overflow: hidden;

  thead {
    display: table;
    table-layout: fixed;
    flex: 0 0 auto;

    tr {
      width: 100%;
    }

    th {
      padding: $pt;
      @include fs-paragraph-xxs();
      text-transform: uppercase;
      font-weight: 600;
      border-right: 1px solid $gray-100;
      border-bottom: 1px solid $gray-100;
      background: $white;
      text-align: center;
    }
  }

  tbody {
    background: $white;
    display: block;
    overflow-y: scroll;
    flex-grow: 1;

    tr {
      width: 100%;
      display: table;
      table-layout: fixed;

      &:hover {
        background-color: $gray-100;;
      }
    }
  }

  thead th,
  ::ng-deep tbody td {
    // border: 1px solid $black;

    &:nth-child(1),
    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(11) {
      width: 100px;
      max-width: 100px;
    }
    &:nth-child(3) {
      width: 200px;
      max-width: 200px;
    }
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(9) {
      width: 180px;
      max-width: 180px;
    }
    &:nth-child(10) {
      width: 200px;
      max-width: 200px;
    }
  }
}

.btn-append {
  display: block;
  width: 100%;
  padding: $pt $pt3;
  text-align: center;
  color: $gray-600;
  @include fs-paragraph-xs();
  text-transform: uppercase;
  font-weight: 600;
  border: 1px dashed $gray-300;
  background: $white;
}
