<div class="header">
  <div class="column">Проект</div>
  <div class="column">Задача</div>
  <div class="column">Исполнитель</div>
  <div class="column">Эпик</div>
  <div class="column">Релиз</div>
  <div class="column">Приоритет</div>
  <div class="column">Оценка разработки</div>
  <div class="column">Оценка тестирования</div>
  <div class="column">Статус</div>
  <div class="column">Комментарий</div>
  <div class="column">&nbsp;</div>
</div>

<div class="scroll">
  <app-issue-table-row *ngFor="let issue of issues" [issue]="issue"></app-issue-table-row>
  <app-issue-table-append-row *ngFor="let issue of appendedIssues" (issue)="bindIssue($event)"></app-issue-table-append-row>

  <button class="btn-append" (click)="appendIssue()" *ngIf="sprint$ | async">
    <fa-icon [icon]="faPlus" class="me-1"></fa-icon>
    <span>Добавить задачу</span>
  </button>
</div>
