<div class="label-card d-flex align-items-center pt-1 pb-1 p-1 ps-3 pe-3" [formGroup]="form">
  <div class="label-title flex-grow-1">{{label.title}}</div>

  <div class="label-altname" *ngIf="!isEdit">{{label.altName}}</div>

  <div class="flex-grow-1" *ngIf="isEdit">
    <input type="text" class="form-control" formControlName="altName" placeholder="Псевдоним">
  </div>

  <button class="btn btn-link" *ngIf="isEdit" (click)="save()">
    <fa-icon [icon]="faFloppyDisk"></fa-icon>
  </button>
  <button class="btn btn-link" *ngIf="!isEdit" (click)="setEdit()">
    <fa-icon [icon]="faPen"></fa-icon>
  </button>
</div>
